<nav class="navbar navbar-myfinances navbar-expand fixed-top">
  <div class="container-fluid">
    <div class="navbar-brand">MyFinances</div>
    <ul class="nav navbar-nav float-right">
      <li class="nav-item dropdown dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="zmdi zmdi-settings" style="font-size: 1.846rem;vertical-align: middle;color: #737373;"></span>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
