.nav-sidebar {
  background-color: rgb(255, 0, 0);
  width: 220px;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
}

@media (max-width: 768px) {
  .nav-sidebar {
    left: -220px;
  }
}
